<workshop-header> </workshop-header>


                <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    PFE File of 
                                    <a  href="InternshipDirector/pfeFile/pfeFile.id#" data-toggle="modal" data-target="#exampleModal4" (click)="StudentByID(pfeFile.student.id)"> {{pfeFile.student.name}} </a>
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="#" class="btn btn-clean btn-sm btn-bold" data-toggle="dropdown">
                                    <i class="flaticon2-gear"></i> Export
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Company Settings
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Update Details</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                <span class="kt-nav__link-text">New Staff</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-link"></i>
                                                <span class="kt-nav__link-text">New Owner</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                <span class="kt-nav__link-text">Reports</span>
                                                <span class="kt-nav__link-badge">
                                                    <span class="kt-badge kt-badge--success">5</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__foot">
                                            <a class="btn btn-label-danger btn-bold btn-sm" href="#">Manage company</a>
                                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="" data-original-title="Click to learn more...">Learn more</a>
                                        </li>
                                    </ul>
                                    <!--end::Nav-->
                                </div>
                            </div>
                        </div>
                        <div class="kt-form kt-form--label-right">
                            <div class="kt-portlet__body">
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">ID:</label>
                                    <div class="col-8">
                                        <span class="form-control-plaintext kt-font-bolder"> {{id}} </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label"> Title </label>
                                    <div  class="col-8">
                                        <ng-container > 
                                        <span *ngIf="badWords.includes(pfeFile.title)==true" style="color:red;"  class="form-control-plaintext kt-font-bolder"> {{pfeFile.title}}</span>

                                            <span *ngIf="badWords.includes(pfeFile.title)==false"   class="form-control-plaintext kt-font-bolder"> {{pfeFile.title}}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">description</label>
                                    <div class="col-8">
                                        <span class="form-control-plaintext"></span><span class="kt-font-bolder"> {{pfeFile.description}}</span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">verification</label>
                                    <div class="col-8">
                                        <span *ngIf="pfeFile.verification==1" class="btn btn-bold btn-sm btn-font-sm  btn-label-success">Valid</span>
                                        <span *ngIf="pfeFile.verification==2" class="btn btn-bold btn-sm btn-font-sm  btn-label-warning">Invalid</span>
                                        <span *ngIf="pfeFile.verification==0" class="btn btn-bold btn-sm btn-font-sm  btn-label-brand">waiting</span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">Problematic:</label>
                                    <div class="col-8">
                                        <span class="form-control-plaintext kt-font-bolder">
                                                <a>{{pfeFile.problematic}}</a>
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">Fonctionality:</label>
                                    <div class="col-8">
                                        <span class="form-control-plaintext kt-font-bolder">
                                                <a >{{pfeFile.fonctionality}}</a>
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                    <label class="col-4 col-form-label">keyWord:</label>
                                    <div class="col-8">
                                        <span class="form-control-plaintext kt-font-bolder">
                                                <a> {{pfeFile.keyWord}} </a>
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group form-group-xs row">
                                        <label class="col-4 col-form-label"> Note Framer </label>
                                        <div class="col-8">
                                            <span *ngIf="pfeFile.note_F!=0" style="color:green;" class="form-control-plaintext kt-font-bolder"> {{pfeFile.note_F}}</span>
                                            <p *ngIf="pfeFile.note_F==0"> --</p>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-xs row">
                                            <label class="col-4 col-form-label"> Note Reporter </label>
                                            <div class="col-8">
                                                <span *ngIf="pfeFile.note_IR!=0"  style="color:green;" class="form-control-plaintext kt-font-bolder"> {{pfeFile.note_IR}}</span>
                                                <span *ngIf="pfeFile.note_IR==0"> -- </span>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-xs row">
                                                <label class="col-4 col-form-label"> Category </label>
                                                <div class="col-8">
                                                    <span class="form-control-plaintext kt-font-bolder"> {{pfeFile.category.name}}</span>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-xs row">
                                                    <label class="col-4 col-form-label"> Company </label>
                                                    <div class="col-8">
                                                        <span class="form-control-plaintext kt-font-bolder"> 
                                                            <a href="InternshipDirector/pfeFile/pfeFile.id#" data-toggle="modal" data-target="#exampleModal" (click)="CompanyByID(pfeFile.company.id)"> {{pfeFile.company.name}} </a></span>
                                                    </div>
                                                </div>
                                                <div class="form-group form-group-xs row">
                                                        <label class="col-4 col-form-label"> Date </label>
                                                        <div class="col-8">
                                                            <span class="form-control-plaintext kt-font-bolder"> {{pfeFile.dateCreate}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-xs row">
                                                            <label class="col-4 col-form-label"> Current Year </label>
                                                            <div class="col-8">
                                                                <span class="form-control-plaintext kt-font-bolder"> {{pfeFile.CurrentYear}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-group-xs row">
                                                                <label class="col-4 col-form-label"> Framer </label>
                                                                <div class="col-8">
                                                                        <span *ngIf="pfeFile.framer==null"  > Add a framer </span>
                                                                    <a *ngIf="pfeFile.framer!=null" href="InternshipDirector/pfeFile/pfeFile.id#" data-toggle="modal" data-target="#exampleModal1" (click)="getTeacherByID(pfeFile.framer.id)"> {{pfeFile.framer.name}} </a>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-group-xs row">
                                                                    <label class="col-4 col-form-label"> Validator </label>
                                                                    <div class="col-8">
                                                                            <span *ngIf="pfeFile.validator==null"  > Add a validator </span>
                                                                        <a *ngIf="pfeFile.validator!=null" href="InternshipDirector/pfeFile/pfeFile.id#" data-toggle="modal" data-target="#exampleModal2" (click)="getTeacherByID(pfeFile.validator.id)"> {{pfeFile.validator.name}} </a>
                                                                    </div>
                                                                </div>
                                                         
                                                                <div class="form-group form-group-xs row">
                                                                        <label class="col-4 col-form-label"> Reporter </label>
                                                                        <div class="col-8">
                                                                                <span *ngIf="pfeFile.internship_reporter==null"> Add a Reporter </span>
                                                                            <a *ngIf="pfeFile.internship_reporter!=null" href="InternshipDirector/pfeFile/pfeFile.id#" data-toggle="modal" data-target="#exampleModal3" (click)="getTeacherByID(pfeFile.internship_reporter.id)"> {{pfeFile.internship_reporter.name}} </a>
                                                                        </div>
                                                                    </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions kt-space-between">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    



                    <!-- begin:: Content -->
	<div class="kt-container  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
                <div class="kt-grid__item">
                    <!--begin: Form Wizard Nav -->
                    <div class="kt-wizard-v1__nav">
                        <!--doc: Remove "kt-wizard-v1__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                        <div class="kt-wizard-v1__nav-items kt-wizard-v1__nav-items--clickable">
                            <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <i class="flaticon-bus-stop"></i>
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        1. affecter framer 
                                    </div>
                                </div>
                            </div>
                            <div class="kt-wizard-v1__nav-item"  data-ktwizard-type="step">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <i class="flaticon-list"></i>
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        2. Affecter reporter
                                    </div>
                                </div>
                            </div>
                            <div class="kt-wizard-v1__nav-item"  data-ktwizard-type="step">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <i class="flaticon-responsive"></i>
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                        3. Affecter teacher ...
                                    </div>
                                </div>
                            </div>
                            
                            <div class="kt-wizard-v1__nav-item"  data-ktwizard-type="step">
                                <div class="kt-wizard-v1__nav-body">
                                    <div class="kt-wizard-v1__nav-icon">
                                        <i class="flaticon-globe"></i>
                                    </div>
                                    <div class="kt-wizard-v1__nav-label">
                                            4. affecter date et salle soutenance
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Nav -->
    
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                    <!--begin: Form Wizard Form-->
                    <form method="post" class="kt-form" id="kt_form" (Submit)="affectationReporter(b.id)">
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-heading kt-heading--md">Setup affecter reporter</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                
                            
                                    <div class="row">
                                      
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                            <label>Reporter name:</label>
                                            <select name="country" class="form-control" [(ngModel)]="teacher" >
                                                <option value="">Select</option>
                                                <ng-container *ngFor="let teacher of listTeacher">
                                                <option   *ngIf="teacher.limitRole !== 0"   [value]="teacher.id"  name="id">
                                                    
                                                            {{teacher.name}}
                                                            
                                                </option>
                                            </ng-container>

                                            </select>
                                           
                                        </div>
                                        <button type="submit" (click)="affectationReporter(teacher.id)"> affectation</button>
                                            this pfe file reporter'name : {{pfeFile.internship_reporter.name}}
                                            <br>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->
    
                        <!--begin: Form Wizard Step 2-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Setup affecter framer</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                    
                                
                                        <div class="row">
                                          
                                                <div class="col-xl-6">
                                                        <div class="form-group">
                                                        <label>Framer name:</label>
                                                        <select name="country" class="form-control" [(ngModel)]="b" >
                                                            <option value="">Select</option>
                                                            <option value="AI" *ngFor="let b of listTeacher" [value]="b.id"  name="id">{{b.name}}</option>
            
                                                        </select>
                                                       
                                                    </div>
                                                    <button type="submit" (click)="affectationReporter(b.id)"> affectation</button>
                                                        this pfe file framer'name : {{pfeFile.framer.name}}
                                                        <br>
                                                       
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--end: Form Wizard Step 2-->
    
                        <!--begin: Form Wizard Step 3-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md">Setup affecter Validator</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v1__form">
                    
                                
                                        <div class="row">
                                          
                                                <div class="col-xl-6">
                                                        <div class="form-group">
                                                        <label>validator name:</label>
                                                        <select name="name" class="form-control" [(ngModel)]="b" >
                                                            <option value="">Select</option>
                                                            <option *ngFor="let b of listTeacher" [value]="b.id"  name="id">
                                                                <div *ngIf=" b.id==54">
                                                                {{b.name}}
                                                                </div>
                                                            </option>
            
                                                        </select>
                                                       
                                                    </div>
                                                    <button type="submit" (click)="affectationReporter(b.id)"> affectation</button>
                                                        this pfe file validator'name : {{pfeFile.validator.name}}
                                                        <br>
                                                       
                                                     
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--end: Form Wizard Step 3-->
    
                        <!--begin: Form Wizard Step 4-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Setup defense </div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="form-group">
                                        <label>Address Line 1</label>
                                        <input type="text" class="form-control" name="locaddress1" placeholder="Address Line 1" value="Address Line 1">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Address Line 2</label>
                                        <input type="text" class="form-control" name="locaddress2" placeholder="Address Line 2" value="Address Line 2">
                                        <span class="form-text text-muted">Please enter your Address.</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>Postcode</label>
                                                <input type="text" class="form-control" name="locpostcode" placeholder="Postcode" value="3072">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" name="loccity" placeholder="City" value="Preston">
                                                <span class="form-text text-muted">Please enter your City.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" class="form-control" name="locstate" placeholder="State" value="VIC">
                                                <span class="form-text text-muted">Please enter your Postcode.</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                            <label>Country:</label>
                                            <select name="loccountry" class="form-control">
                                             
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU" selected>Australia</option>
                                               
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 4-->
    
                        <!--begin: Form Actions -->
                        <div class="kt-form__actions">
                             
                            <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                                Previous
                            </button>
                            <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                                Submit
                            </button>
                            <button type="submit" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                                Next Step
                            </button>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                    <!--end: Form Wizard Form-->
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- end:: Content -->	


    
    











    <!-- model of Company -->
<div  id="exampleModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
style="display: none; padding-right: 15px;">
       <div class="modal-dialog" role="document" >
         <div class="modal-content" >
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal">{{company.name}} Company </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div  >
             
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">company id : {{company.id}}</li>
                    <li class="list-group-item">company name : {{company.name}}</li>
                    <li class="list-group-item">company address : {{company.address}}</li>
                    <li class="list-group-item">company country : {{company.country}}</li>
                    <li class="list-group-item">company phone number : {{company.phone}}</li>
                    <li class="list-group-item">company responsable framer : {{company.responsible_framer}}</li>
                    <li class="list-group-item">company responsible Name : {{company.responsible_name}}</li>
                    <li class="list-group-item">company responsible Email : {{company.responsible_mail}}</li>
                  </ul>
           </div>
           <div class="modal-footer">
             <button   type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

     <!-- end model of history -->



      <!-- model of Framer -->
<div  id="exampleModal1" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModal1"
style="display: none; padding-right: 15px;">
       <div class="modal-dialog" role="document" >
         <div class="modal-content" >
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal1"> Framer : {{teacher.name}}  </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div  >
             
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">framer id : {{teacher.id}}</li>
                    <li class="list-group-item">framer name : {{teacher.name}}</li>
                    <li class="list-group-item">framer lastname : {{teacher.lastname}}</li>
                    <li class="list-group-item">framer birthdate : {{teacher.birthdate}}</li>
                    <li class="list-group-item">framer email : {{teacher.email}}</li>
                    <li class="list-group-item">yearOfRecrutement : {{teacher.yearOfRecrutement | date}}</li>
                    <li class="list-group-item">framer diploma : {{teacher.diploma}}</li>
                  </ul>
           </div>
           <div class="modal-footer">
             <button   type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

     <!-- end model of framer -->


     <!-- model of validator -->
<div  id="exampleModal2" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModal2"
style="display: none; padding-right: 15px;">
       <div class="modal-dialog" role="document" >
         <div class="modal-content" >
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal2"> Validator : {{teacher.name}}  </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div  >
             
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">validator id : {{teacher.id}}</li>
                    <li class="list-group-item">validator name : {{teacher.name}}</li>
                    <li class="list-group-item">validator lastname : {{teacher.lastname}}</li>
                    <li class="list-group-item">validator birthdate : {{teacher.birthdate}}</li>
                    <li class="list-group-item">validator email : {{teacher.email}}</li>
                    <li class="list-group-item">yearOfRecrutement : {{teacher.yearOfRecrutement| date}}</li>
                    <li class="list-group-item">validator diploma : {{teacher.diploma}}</li>
                  </ul>
           </div>
           <div class="modal-footer">
             <button   type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

     <!-- end model of validator -->



     <!-- model of Reporter -->
<div  id="exampleModal3" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModal3"
style="display: none; padding-right: 15px;">
       <div class="modal-dialog" role="document" >
         <div class="modal-content" >
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal3"> Internship Reporter : {{teacher.name}}  </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div  >
             
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">Reporter id : {{teacher.id}}</li>
                    <li class="list-group-item">Reporter name : {{teacher.name}}</li>
                    <li class="list-group-item">Reporter lastname : {{teacher.lastname}}</li>
                    <li class="list-group-item">Reporter birthdate : {{teacher.birthdate}}</li>
                    <li class="list-group-item">Reporter email : {{teacher.email}}</li>
                    <li class="list-group-item">yearOfRecrutement : {{teacher.yearOfRecrutement | date}}</li>
                    <li class="list-group-item">Reporter diploma : {{teacher.diploma}}</li>
                  </ul>
           </div>
           <div class="modal-footer">
             <button   type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

     <!-- end model of Reporter -->


      <!-- model of student -->
<div  id="exampleModal4" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModal4"
style="display: none; padding-right: 15px;">
       <div class="modal-dialog" role="document" >
         <div class="modal-content" >
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModal4"> student name: {{student.name}}  </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div  >
             
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">student id : {{student.id}}</li>
                    <li class="list-group-item">student name : {{student.name}}</li>
                    <li class="list-group-item">student lastname : {{student.lastname}}</li>
                    <li class="list-group-item">student birthdate : {{student.birthdate}}</li>
                    <li class="list-group-item">student email : {{student.email}}</li>
           
                  </ul>
           </div>
           <div class="modal-footer">
             <button   type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>

     <!-- end model of student -->

    
     <workshop-footer></workshop-footer>