<workshop-header></workshop-header>
<div>
    <!--begin: Datatable -->
    <table class="table table-striped- table-bordered table-hover table-checkable" >
      <thead>
      <tr>
        <th>Order</th>
        <th>name</th>
        <th>Action</th>
      </tr>
      </thead>
  
      <tbody>
      <tr *ngFor="let category of categorys; index as i">
        <td>{{category.Category_ID}}</td>
        <td> {{category.name}} </td>
          <td >
              <div *ngIf="category.valid==0">
          <a class="btn btn-info" href="javascript:;" (click)='validate(category)'> validate </a>
        </div>
  
  
        </td>
  
      </tr>
  
      </tbody>
  
    </table>
    <!--end: Datatable -->
  </div>
  
  
  
  <workshop-footer></workshop-footer>
