<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <!--Begin::Section-->
<div class="row">
<div class="col-xl-12">
    <!--begin:: Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin::Widget -->
            <div class="kt-widget kt-widget--project-1">
                <div class="kt-widget__head">
                    <div class="kt-widget__label">
                        <div class="kt-widget__info kt-margin-t-5">
                            <a href="#" class="kt-widget__title">
                                <h1>Nexa - Next generation SAAS</h1>                                              
                            </a>
                            <span class="kt-widget__desc">
                                Creates Limitless possibilities  
                            </span>
                        </div>
                    </div>
                    </div>

                <div class="kt-widget__body">
                    <div class="kt-widget__stats">
                        <div class="kt-widget__item">
                            <span class="kt-widget__date">
                                Start Date
                            </span>
                            <div class="kt-widget__label">
                                <span class="btn btn-label-brand btn-sm btn-bold btn-upper">07 may, 18</span>
                            </div>
                        </div>

                        <div class="kt-widget__item">
                            <span class="kt-widget__date">
                                Due Date
                            </span>
                            <div class="kt-widget__label">
                                <span class="btn btn-label-danger btn-sm btn-bold btn-upper">07 0ct, 18</span>
                            </div>
                        </div>

                        <div class="kt-widget__item flex-fill">
                            <span class="kt-widget__subtitel">Progress</span>
                            <div class="kt-widget__progress d-flex  align-items-center">
                                <div class="progress" style="height: 5px;width: 100%;">
                                    <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 78%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="kt-widget__stat">
                                    78%
                                </span>
                            </div>
                        </div>
                    </div>

                    <span class="kt-widget__text">
                        I distinguish three main text objecttives.First, your objective could
                        be merely to inform people.A second be to persuade people.                            
                    </span>

                    <div class="kt-widget__content">
                        <div class="kt-widget__details">
                            <span class="kt-widget__subtitle">Budget</span>
                            <span class="kt-widget__value"><span>$</span>249,500</span>
                        </div>

                        <div class="kt-widget__details">
                            <span class="kt-widget__subtitle">Expances</span>
                            <span class="kt-widget__value"><span>$</span>76,810</span>
                        </div>

                        <div class="kt-widget__details">
                            <span class="kt-widget__subtitle">Members</span>
                            <div class="kt-media-group">
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                    <img src="../../../../../themes/metronic/theme/default/demo2/dist/assets/media/users/100_7.jpg" alt="image">
                                </a>
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                    <img src="../../../../../themes/metronic/theme/default/demo2/dist/assets/media/users/100_3.jpg" alt="image">
                                </a>
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                    <img src="../../../../../themes/metronic/theme/default/demo2/dist/assets/media/users/100_2.jpg" alt="image">
                                </a>
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                    <img src="../../../../../themes/metronic/theme/default/demo2/dist/assets/media/users/100_13.jpg" alt="image">
                                </a>
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                    <img src="../../../../../themes/metronic/theme/default/demo2/dist/assets/media/users/100_4.jpg" alt="image">
                                </a>
                                <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                    <span>+3</span>
                                </a>
                            </div>                                 
                        </div>
                    </div>
                </div>

                <div class="kt-widget__footer">
                    <div class="kt-widget__wrapper">
                        <div class="kt-widget__section">
                            <div class="kt-widget__blog">
                                <i class="flaticon2-list-1"></i>
                                <a href="#" class="kt-widget__value kt-font-brand">72 Tasks</a>
                            </div>

                            <div class="kt-widget__blog">
                                <i class="flaticon2-talk"></i>
                                <a href="#" class="kt-widget__value kt-font-brand">648 Comments</a>
                            </div>
                        </div>

                        <div class="kt-widget__section">
                            <button type="button" class="btn btn-label-success btn-lg btn-upper">Give note</button>                                 
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Widget -->
        </div>
    </div>
    <!--end:: Portlet-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.60/jspdf.min.js"></script>
