<workshop-header></workshop-header>



<div class="kt-portlet kt-portlet--height-fluid">
	<div class="kt-widget14">
		<div class="kt-widget14__header">
			<h3 class="kt-widget14__title">
				Statistique            
			</h3>
			<span class="kt-widget14__desc">
				pourcentage des stage de pfe en dehors de tunis par raopprt au global
			</span>
		</div>
		<div class="kt-widget14__content">
			<div class="kt-widget14__chart">

                    <div  style="height: 700; width: 700px;">
						<div style="display: block">
							<canvas baseChart
									[data]="pieChartData"
									[labels]="pieChartLabels"
									[chartType]="pieChartType"></canvas>
						  </div>
						
                    </div>
			</div>  		 
			
		</div> 	 
	</div>
</div>








<div class="kt-portlet kt-portlet--height-fluid">
	<div class="kt-widget14">
		<div class="kt-widget14__header">
			<h3 class="kt-widget14__title">
				Statistique            
			</h3>
			<span class="kt-widget14__desc">
				pourcentage des stage de pfe en dehors de tunis par raopprt au global
			</span>
		</div>
		<div class="kt-widget14__content">
			<div class="kt-widget14__chart">

                    <div  style="height: 700; width: 700px;">
						<div style="display: block">
							<canvas baseChart
								  [datasets]="barChartData"
								  [labels]="barChartLabels"
								  [options]="barChartOptions"
								  [legend]="barChartLegend"
								  [chartType]="barChartType"></canvas>
						  </div>
						
                    </div>
			</div>  		 
			
		</div> 	 
	</div>
</div>

  








  <!doctype html>
<html ng-app="app">

<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="script.js"></script>
</head>



</html>




<workshop-footer></workshop-footer>