<workshop-header></workshop-header>



<!-- <div class="kt-portlet kt-portlet--height-fluid">
	<div class="kt-widget14">
		<div class="kt-widget14__header">
			<h3 class="kt-widget14__title">
				Revenue Change            
			</h3>
			<span class="kt-widget14__desc">
				Revenue change breakdown by cities
			</span>
		</div>
		<div class="kt-widget14__content">
			<div class="kt-widget14__chart">

                    <div id="kt_chart_revenue_change" style="height: 150px; width: 150px;">
                       
                    </div>
			</div>  		 
			<div class="kt-widget14__legends">
				<div class="kt-widget14__legend">
					<span class="kt-widget14__bullet kt-bg-success"></span>
					<span class="kt-widget14__stats">+10% New York</span>
				</div>
				<div class="kt-widget14__legend">
					<span class="kt-widget14__bullet kt-bg-warning"></span>
					<span class="kt-widget14__stats">-7% London</span>
				</div>
				<div class="kt-widget14__legend">
					<span class="kt-widget14__bullet kt-bg-brand"></span>
					<span class="kt-widget14__stats">+20% California</span>
				</div>
			</div>		 
		</div> 	 
	</div>
</div> -->

<!-- 
<div style="display: block">
	<canvas mdbChart
		[chartType]="chartType"
		[datasets]="chartDatasets"
		[labels]="chartLabels"
		[colors]="chartColors"
		[options]="chartOptions"
		[legend]="true"
		(chartHover)="chartHovered($event)"
		(chartClick)="chartClicked($event)">
	</canvas>
  </div> -->

	  <script src="node_modules/chart.js/src/chart.js"></script>


<workshop-footer></workshop-footer>