
<workshop-header></workshop-header>


<div class="form-group">
    <label for="exampleFormControlInput1">Subject </label>
    <input id="badWordCatch"  [(ngModel)]="Notification.subject"  name="subject"  #subject="ngModel" required type="email" class="form-control"  placeholder="...">
    <div >
        <div  style="color: red" *ngIf="subject.invalid && subject.touched">
          the subject is required *
        </div>
      </div>
  </div>
 
<div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea id="wordInput" [(ngModel)]="Notification.message" name="message"  #message="ngModel" required name="message" class="form-control"  rows="3"></textarea>
    <div >
        <div  style="color: red" *ngIf="subject.invalid && subject.touched">
          u have to write the message *
        </div>
      </div>
</div>

<div class="kt-demo-icon">
    <div class="kt-demo-icon__preview">
     
    </div>
    <div class="kt-demo-icon__class">
        <i class="flaticon2-exclamation"></i>
        <button data-toggle="modal" data-target="#exampleModal"  id="badWordCatch" onclick="badWordCatch();" type="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm">check bad words first</button>
       
        <div id="wordsFound"></div>
        <div id="wordAmount"></div>
        <button data-toggle="modal" data-target="#exampleModal" [disabled]="Notification.subject.invalid" (click)="sendRec()" type="button" class="btn btn-brand btn-elevate btn-pill btn-elevate-air btn-sm">Send Reclamation</button>

    </div>
  </div>


  


  <workshop-footer></workshop-footer>