





<!--  create pfe file -->
<div *ngIf="true" class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-container ">
<div class="kt-subheader__main">

<h3 class="kt-subheader__title">
Edit User                           
</h3>

<span class="kt-subheader__separator kt-subheader__separator--v"></span>

<div class="kt-subheader__group" id="kt_subheader_search">
<span class="kt-subheader__desc" id="kt_subheader_total">
        Alex Stone                                    
    </span>

</div>

</div>        
<div class="kt-subheader__toolbar">

<a href="/metronic/preview/demo2/#.html" class="btn btn-default btn-bold">

Back                </a>

            <div class="btn-group">
<button type="button" class="btn btn-brand btn-bold">
                    
Save Changes                        </button>
<button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
</button>
<div class="dropdown-menu dropdown-menu-right">
<ul class="kt-nav">
<li class="kt-nav__item">
<a href="#" class="kt-nav__link">
    <i class="kt-nav__link-icon flaticon2-writing"></i>
    <span class="kt-nav__link-text">Save &amp; continue</span>
</a>
</li>                            
<li class="kt-nav__item">
<a href="#" class="kt-nav__link">
    <i class="kt-nav__link-icon flaticon2-medical-records"></i>
    <span class="kt-nav__link-text">Save &amp; add new</span>
</a>
</li>
<li class="kt-nav__item">
<a href="#" class="kt-nav__link">
    <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
    <span class="kt-nav__link-text">Save &amp; exit</span>
</a>
</li>
</ul>
</div>
</div>
    
</div>
</div>
</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
<!--begin:: Portlet-->
<div class="kt-portlet ">
<div class="kt-portlet__body">
<div class="kt-widget kt-widget--user-profile-3">
<div class="kt-widget__top">
<div class="kt-widget__media kt-hidden-">
<img src="assets/assets/media/project-logos/3.png" alt="image">
</div>
<div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
JM
</div>
<div class="kt-widget__content">
<div class="kt-widget__head">
<a href="#" class="kt-widget__username kt-hidden">
Jason Muller    
<i class="flaticon2-correct"></i>                       
</a>

<a href="#" class="kt-widget__title">Nexa - Next generation SAAS</a>

<div class="kt-widget__action">
<button type="button" class="btn btn-sm btn-upper" style="background: #edeff6">edit</button>&nbsp;
<button type="button" class="btn btn-success btn-sm btn-upper">add user</button>&nbsp;
<button type="button" class="btn btn-brand btn-sm btn-upper">new task</button>
</div>
</div>

<div class="kt-widget__subhead kt-hidden">
<a href="#"><i class="flaticon2-new-email"></i>jason@siastudio.com</a>
<a href="#"><i class="flaticon2-calendar-3"></i>PR Manager </a>
<a href="#"><i class="flaticon2-placeholder"></i>Melbourne</a>
</div>

<div class="kt-widget__info">
<div class="kt-widget__desc">
I distinguish three main text objektive.First, your could
<br> be merely to inform people a second could be persuade people.
<br> You want people to bay your products
</div>
<div class="kt-widget__progress kt-hidden">
<div class="kt-widget__text">
Progress
</div>
<div class="progress" style="height: 5px;width: 100%;">
<div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="kt-widget__stats">
78%
</div>
</div>

<div class="kt-widget__stats d-flex align-items-center flex-fill">
<div class="kt-widget__item">
<span class="kt-widget__date">
Start Date
</span>
<div class="kt-widget__label">
<span class="btn btn-label-brand btn-sm btn-bold btn-upper">07 may, 18</span>
</div>
</div>

<div class="kt-widget__item">
<span class="kt-widget__date">
Due Date
</span>
<div class="kt-widget__label">
<span class="btn btn-label-danger btn-sm btn-bold btn-upper">07 0ct, 18</span>
</div>
</div>

<div class="kt-widget__item flex-fill">
<span class="kt-widget__subtitel">Progress</span>
<div class="kt-widget__progress d-flex  align-items-center">
<div class="progress" style="height: 5px;width: 100%;">
    <div class="progress-bar kt-bg-success" role="progressbar" style="width: 78%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<span class="kt-widget__stat">
    78%
</span>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<!--end:: Portlet-->

<!--Begin:: Portlet-->
<div class="kt-portlet kt-portlet--tabs">
<div class="kt-portlet__head">
<div class="kt-portlet__head-toolbar">
<ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_2" role="tab">
<i class="flaticon2-calendar-3"></i> Project Details
</a>
</li>
<li class="nav-item">
<a class="nav-link " data-toggle="tab" href="#kt_apps_contacts_view_tab_3" role="tab">
<i class="flaticon2-user-outline-symbol"></i> Access Control
</a>
</li>
<li class="nav-item">
<a (click)="showCancelPfe()" class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_4" role="tab">
<i  class="flaticon2-gear"></i> cancel PFE
</a>
</li>
<li class="nav-item">
<a class="nav-link " data-toggle="tab" href="#kt_apps_contacts_view_tab_1" role="tab">
<i class="flaticon2-note"></i> Notes
</a>
</li>
</ul>
</div>
</div>
<div class="kt-portlet__body">
<div class="tab-content  kt-margin-t-20">

<!--Begin:: Tab Content-->
<div class="tab-pane active" id="kt_apps_contacts_view_tab_2" role="tabpanel">
<form class="kt-form kt-form--label-right" >
<div class="kt-form__body">
<div class="kt-section kt-section--first">
<div class="kt-section__body">
<div class="row">
<label class="col-xl-3"></label>
<div class="col-lg-9 col-xl-6">
    <h3 class="kt-section__title kt-section__title-sm">PFE Info:</h3>
</div>
</div>

<div class="form-group row">
<label class="col-xl-3 col-lg-3 col-form-label">PFE descreption</label>
<div class="col-lg-9 col-xl-6">
    <input class="form-control" type="text" [(ngModel)]="currentPfeFile.description" name="description">
</div>
</div>
<div class="form-group row">
<label class="col-xl-3 col-lg-3 col-form-label">fonctionality</label>
<div class="col-lg-9 col-xl-6">
    <input class="form-control" type="text" [(ngModel)]="currentPfeFile.fonctionality" name="fonctionality">
</div>
</div>
<div class="form-group row">
<label class="col-xl-3 col-lg-3 col-form-label">keyWord</label>
<div class="col-lg-9 col-xl-6">
    <input class="form-control" type="text" [(ngModel)]="currentPfeFile.keyWord" name="keyWord">
    
</div>
</div>

<div class="row">
<label class="col-xl-3"></label>
<div class="col-lg-9 col-xl-6">
    <h3 class="kt-section__title kt-section__title-sm">Contact Info:</h3>
</div>
</div>

<div class="form-group row">
<label class="col-xl-3 col-lg-3 col-form-label">problematic</label>
<div class="col-lg-9 col-xl-6">
    <div class="input-group">      
        <input type="text" class="form-control" [(ngModel)]="currentPfeFile.problematic" name="problematic">
    </div>
    
</div>
</div>
<div class="form-group row">
<label class="col-xl-3 col-lg-3 col-form-label">title</label>
<div class="col-lg-9 col-xl-6">
    <div class="input-group">
        
        <input type="text" class="form-control" [(ngModel)]="currentPfeFile.title" name="title">
    </div>
</div>
</div>
<div class="form-group form-group-last row">
<label class="col-xl-3 col-lg-3 col-form-label">Company</label>
<div class="col-lg-9 col-xl-6">
    <div class="input-group">
        <select [disabled]="condition_on_select_company" id="kanban-add-board-color" class="form-control" [ngModel]="company" (ngModelChange)="onChangeObj($event)" name="company_func_name">
            <option *ngIf="currentPfeFile.company != null;else run_the_list" [ngValue]="currentPfeFile.company" selected>{{currentPfeFile.company.name}}</option>
            <ng-template #run_the_list>
            <option [ngValue]="c" *ngFor="let c of list_company">{{c.name}}</option>
            </ng-template>
        </select>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>

<div class="kt-form__actions">
<div class="row">
<div class="col-xl-3"></div>
<div class="col-lg-9 col-xl-6">
<button class="btn btn-brand btn-bold" (click)="savechanges(currentPfeFile)" >Save changes</button>
<a href="#" class="btn btn-clean btn-bold">Cancel</a>
</div>
</div>
</div>
</form>
</div>
<!--End:: Tab Content-->


</div>
</div>
</div>
<!--End:: Portlet-->	
</div>
<!-- end:: Content -->						
</div>
</div>
<!-- end create pfe file -->

<!-- start cancel pfe -->
<div *ngIf="alert_condution" class="swal2-container swal2-center swal2-shown" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <ul class="swal2-progress-steps" style="display: none;"></ul>
            <div class="swal2-icon swal2-error" style="display: none;">
                <span class="swal2-x-mark">
                <span class="swal2-x-mark-line-left"></span>
                <span class="swal2-x-mark-line-right"></span></span>
            </div>
                <div class="swal2-icon swal2-question" style="display: none;"></div>
                <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"></div>
                <div class="swal2-icon swal2-info" style="display: none;"></div>
                <div class="swal2-icon swal2-success" style="display: none;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                    <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                    <div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                    </div>
                </div>
            <img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: flex;">Are you sure?</h2>
            <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
        <input class="swal2-input" style="display: none;"><input type="file" class="swal2-file" style="display: none;">
        <div class="swal2-range" style="display: none;">
            <input type="range"><output></output>
        </div><select class="swal2-select" style="display: none;"></select>
            <div class="swal2-radio" style="display: none;">
            </div>
            <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
                <input type="checkbox"><span class="swal2-label"></span>
            </label>
                <textarea class="swal2-textarea" style="display: none;"></textarea>
                <div class="swal2-validation-message" id="swal2-validation-message">

                </div>
        </div>
            <div class="swal2-actions">
                <button (click)="cancelPfe(currentPfeFile)" type="button" class="swal2-confirm swal2-styled" aria-label="" style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">Send cancel request!</button>
                <button (click)="hidecancelPfe()" type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: inline-block;">Cancel</button>
            </div>
        <div class="swal2-footer" style="display: none;"></div>
    </div>
</div>
<!-- end cancel pfe -->

